.nothing__main-content{
    background: $primary;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 100vh;
    p{
        text-align: center;
    }
}